@import '_variables';

.wrapper-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sider-layout {
  max-width: 247px !important;
  width: 100% !important;
  min-width: 247px !important;
  background: $white;
  border-right: 1px solid $stroke-color;
}

.collapsed-sidebar {
  max-width: 70px !important;
  width: 100% !important;
  min-width: 70px !important;
  border-right: 1px solid $stroke-color;
}

.header-wrapper {
  height: 109px !important;
  background: transparent;
  padding: 16px 20px !important;

  .header-content-div {
    display: flex;
    flex-direction: column;
    gap: 13px;
    .header-heading-text{
      font-family: "P22MackinacRegular";
      font-weight: 400;
      font-size: 16px;
      line-height: 19.04px;
      color: $black;
      &.page-title{
        font-family: "P22MackinacMedium";
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
      }
    }
    .div-handle-back {
      display: flex;
      border-radius: 12px;
      padding: 12px;
      cursor: pointer;
      border: 1px solid $neutral-200;
      background: $white;
      box-shadow: 0px 1px 2px 0px rgba(10, 8, 54, 0.05);
    }
  }
}

.scroll-container-sider {
  max-height: calc(100vh - 95px);
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper-content {
  background: $neutral-50 !important;
  padding: 64px 20px;
  overflow-y: auto;

  @media (max-width: 850px) {
    padding: 20px;
  }
}

.special-class {
  background: $neutral-50 !important;
  padding-bottom: 40px;
  overflow-y: auto;

  @media (max-width: 850px) {
    padding-bottom: 20px;
  }
}
.sidebar-wrapper{
  height: 100%;
  .logo-section{
    padding: 32px 24px 0 ;
    &.drawer-icon{
      position: absolute;
      top: 0px;
      right: -40px;
    }
  }
  .scroll-container-sider{
    flex-direction: column;
    height: 100%;
  }
}
.wrapper-menu-div {
  padding: 32px 16px;
  &:last-child {
    padding-top: 32px;
    border-top: 1px solid #CED2D5;
  }
  .main-head {
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .submenu-div {
    padding: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: $primary-50;
      border-radius: 8px;
    }
    .submenu-name{
      .ant-switch{
        position: absolute;
        right: 0;
      }
    }
  }

  .submenu-div-selected {
    border-radius: 8px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      background-color: $primary;
      left: -16px;
      top: 0;
    }
  }
}

.sider-profile-box {
  margin-bottom: 60px;
  border: 1px solid $stroke-color;
  padding: 8px;
  border-radius: 8px;

  .img-profile-picture {
    height: 48px;
    width: 48px;
    border-radius: 50px;
  }
}

.general-setting-popover {
  min-width: 469px !important;
}

.ant-popover {
  width: 277px !important;
  .ant-popover-content {
    border-radius: 12px;
    background: $white;
    box-shadow: 0px 12px 36px 8px rgba(69, 69, 69, 0.27);
    margin-bottom: 20px;
  }
  .ant-popover-arrow {
    display: none;
  }
}

.header-icon {
  padding: 8px;
  width: fit-content;
  display: flex;
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background: $neutral-100;
  }

  &:focus-visible {
    background: $neutral-100;
  }
}

.profile-section{
  border: 1.5px solid #E7E8EA;
  background-color: $white;
  border-radius: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  .profile-img{
    width: 47px;
    height: 47px;
    border-radius: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .user-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 19.04px;
    color: $black;
    font-family: "P22Mackinacbold";
  }
  .user-role{
    font-size: 12px;
    line-height: 14px;
    color: $black;
    font-family: "P22MackinacMedium";
  }
}

.notification-drawer-root {
  .ant-drawer-mask {
    background: unset !important;
  }
  .ant-drawer-content-wrapper {
    box-shadow: -12px 19px 31px 0px rgba(38, 38, 38, 0.1) !important;
    width: 600px !important;
    height: calc(100% - 84px);
    top: unset !important;
    .notification-drawer {
      .ant-drawer-body {
        padding: 0 !important;
        .head-notifications {
          padding: 16px 24px;

          .icon-div-notification {
            padding: 8px;
            border-radius: 8px;
            border: 1px solid $neutral-200;
            background: $white;
            box-shadow: 0px 1px 2px 0px rgba(10, 8, 54, 0.05);
          }
        }
        .notification-list {
          padding: 16px;
          background: $neutral-50;
          .icon-notification {
            border-radius: 30px;
            width: 32px;
            padding: 6px;
            background: $primary-400;
            height: fit-content;
          }
        }
      }
    }
  }
}

// .search-field-header {
//   border-radius: 12px;
//   border: 1px solid $neutral-100;
//   background: $white;
// }

.search-box {
  display: flex;
  padding: 0 16px;
  height: 50px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid $neutral-100;
  background: $white;

  @media (max-width: 1000px) {
    width: 40%;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px rgba(27, 27, 27, 0.1);

    .icon-text {
      color: $neutral-600;
      text-align: center;
      font-size: 18px;
      width: 20px;
      height: 20px;
      font-weight: 500;
      // box-shadow: 0px 1px 2px 1px rgba(27, 27, 27, 0.1);
      line-height: 28px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.header-heading-text {
  @media (max-width: 1200px) {
    font-size: 22px;
    line-height: 32px;
  }
}


.instant-support-section{
  background-color: $primary;
  border-radius: 8px;
  min-height: 180px;
  align-items: unset;
  justify-content: space-between;
  .left-side{
    width: 40%;
    padding: 16px;
    .title{
      font-family: "P22MackinacRegular";
      // font-family: "P22MackinacMedium";
      font-size: 20px;
      line-height: 24px;
      color: $white;
      margin-bottom: 8px;
    }
    .sub-title{
      font-family: "P22MackinacRegular";
      font-size: 12px;
      line-height: 16px;
      color: $white;
      margin-bottom: 36px;
      max-width: 268px;
      letter-spacing: 0px;
    }
    .white-btn{
      background-color: $white;
      color: $primary;
      font-family: "P22MackinacMedium";
      font-size: 14px;
      line-height: 16px;
      border-radius: 50px;
      padding: 7px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .right-side{
    width: 60%;
    height: 100%;
    min-height: 180px;
    background-repeat: no-repeat;
    background-image: url("../assets/imgs/instant-bg-img.svg");
  }
}