$white: #ffffff;
$black: #000;

$neutral-50: #f7f7f8;
$neutral-100: #efeff0;
$neutral-200: #c4c5c7;
$neutral-300: #ababae;
$neutral-400: #919195;
$neutral-500: #7d7e82;
$neutral-600: #68696c;
$neutral-700: #494a4c;
$neutral-800: #2a2a2b;
$neutral-900: #151516;

$primary : #4A57DA;
$primary-50: #f2f0fe;
$primary-100: #bdb5f9;
$primary-200: #897af4;
$primary-300: #553ff0;
$primary-400: #2b12dd;
$primary-500: #220eb1;
$primary-600: #1c0c94;
$primary-700: #140867;
$primary-800: #0b053b;
$primary-900: #06021e;

$secondary-50: #f7f1fe;
$secondary-100: #d7b8f9;
$secondary-200: #b780f3;
$secondary-300: #9748ee;
$secondary-400: #000;
$secondary-500: #6111b9;
$secondary-600: #510e9a;
$secondary-700: #390a6c;
$secondary-800: #20063e;
$secondary-900: #10031f;

$tertiary-50: #f7fdfe;
$tertiary-100: #d5f3fc;
$tertiary-200: #b4eafa;
$tertiary-300: #93e1f8;
$tertiary-400: #7adaf6;
$tertiary-500: #59d1f4;
$tertiary-600: #25c3f1;
$tertiary-700: #0c90b6;
$tertiary-800: #075268;
$tertiary-900: #02151a;

$success-50: #f4fbf7;
$success-100: #d2efe0;
$success-200: #b0e3c9;
$success-300: #8ed7b3;
$success-400: #6ccb9c;
$success-500: #359766;
$success-600: #318a5e;
$success-700: #28714d;
$success-800: #1b4c33;
$success-900: #123222;

$error-50: #fdf4f5;
$error-100: #f6d4d8;
$error-200: #f0b3ba;
$error-300: #ea929d;
$error-400: #e3727f;
$error-500: #d1293d;
$error-600: #c02638;
$error-700: #9d1f2e;
$error-800: #7a1824;
$error-900: #571119;

$warning-50: #fff8f0;
$warning-100: #ffefdc;
$warning-200: #ffe2c1;
$warning-300: #ffd6a7;
$warning-400: #ffc684;
$warning-500: #ffad4f;
$warning-600: #ff9b29;
$warning-700: #fb8600;
$warning-800: #a75900;
$warning-900: #532d00;

$stroke-color: #e5e5e6;
